<div class="tally-background">
  <div class="container">
    <div class="gateway-container">
      <div class="tally-card">
        <div class="tally-header">IMPERIO GATEWAY</div>

        <div class="tally-body">
          <div *ngFor="let section of menuData" class="menu-section">
            <div class="section-label">{{ section.title }}</div>

            <div *ngFor="let item of section.items" class="menu-item" (click)="routepath(item)">
              <span class="hotkey">{{ item.hotkey }}</span
              >{{ item.label.substring(1) }}
            </div>
          </div>

          <div class="menu-item quit" (click)="routepath('login')">
            <span class="hotkey">Q</span>uit
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
