<div class="tally-container">
  <div class="nav-bar">
    <div class="brand">Cloud9 Tally</div>
    <div class="company-name">Order Booking</div>
    <div class="nav-actions">
      <span>Export</span>
      <span>Print</span>
      <span>Mail</span>
    </div>
  </div>

  <div class="field-bar">
    <div class="field-item"><span class="label-box">Order No</span> : {{ orderNumber }}</div>
    <div class="field-item"><span class="label-box">Party Ledger Name</span> : {{ partyName }}</div>
    <div class="field-item"><span class="label-box">Purchase Ledger</span> : {{ ledgerName }}</div>
    <div class="field-item"><span class="label-box">Date</span> : {{ orderDate }}</div>
  </div>

  <div class="table-wrapper">
    <table class="data-table">
      <thead>
        <tr>
          <th width="3%">S.No</th>
          <th width="8%">Stock Category</th>
          <th width="32%">Name of Item</th>
          <th width="10%">Qty</th>
          <th width="3%">Per</th>
          <ng-container *ngIf="!isDistributor">
            <th width="8%">Rate</th>
            <th width="4%">Disc %</th>
            <th width="8%">Net Rate</th>
            <th width="10%">Amount</th>
            <th width="4%">VAT %</th>
            <th width="10%">Total Amt</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <td class="center">{{ i + 1 }}</td>

          <td class="dropdown-cell">
            <input
              [(ngModel)]="item.stockCategory"
              (focus)="openDropdown(i)"
              (input)="filterItems($event.target.value)"
              (keydown)="handleKeyDown($event, item)"
              #inputField
            />

            <div class="dropdown" *ngIf="activeSearchIndex === i">
              <div
                #dropdownItem
                class="dropdown-item"
                *ngFor="let p of filteredItems; let idx = index"
                [class.active]="idx === highlightedIndex"
                (click)="selectProduct(item, p)"
              >
                {{ p.stockItemCategory }} - {{ p.stockItemName }}
              </div>
            </div>
          </td>

          <td>
            <input
              [(ngModel)]="item.itemName"
              #inputField
              (keydown.enter)="onEnter($event, 'itemName', i)"
            />
          </td>

          <td>
            <input
              type="text"
              [(ngModel)]="item.itemQuantity"
              #inputField
              (keydown.enter)="onEnter($event, 'itemQuantity', i)"
              class="text-right"
            />
          </td>

          <td class="center uppercase">{{ item.unit }}</td>

          <ng-container *ngIf="!isDistributor">
            <td>
              <input
                type="text"
                #inputField
                class="text-right"
                [value]="focusedCell === i + '-rate' ? item.itemRate : formatToNaira(item.itemRate)"
                (focus)="handleFocus(i, 'rate')"
                (blur)="handleBlur(i, 'itemRate', $event)"
                (keydown.enter)="onEnter($event, 'itemRate', i)"
              />
            </td>
            <td>
              <input
                type="text"
                [(ngModel)]="item.discPercent"
                #inputField
                (keydown.enter)="onEnter($event, 'disc', i)"
                class="text-right"
              />
            </td>
            <td class="readonly text-right">{{ formatNaira(getNetRate(item)) }}</td>
            <td class="readonly text-right">{{ formatNaira(getAmount(item)) }}</td>
            <td>
              <input
                type="text"
                [(ngModel)]="item.vatPercent"
                #inputField
                (keydown.enter)="onEnter($event, 'vatPercent', i)"
                class="text-right"
              />
            </td>
            <td class="bold readonly text-right">{{ formatNaira(getTotalAmt(item)) }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="footer-totals">
    <div class="total-row">
      <span class="col-label">Grand Total :</span>

      <span class="col-qty">{{ getTotalQty() | number: '1.2-2' }}</span>

      <span class="col-empty-per"></span>

      <ng-container *ngIf="!isDistributor">
        <span class="col-rate">{{ formatNaira(getGrandRate()) }}</span>

        <span class="col-empty-disc"></span>

        <span class="col-net">{{ formatNaira(getGrandNetRate()) }}</span>

        <span class="col-amt">{{ formatNaira(getGrandAmount()) }}</span>

        <span class="col-empty-vat"></span>

        <span class="col-total-amt">{{ formatNaira(getGrandTotal()) }}</span>
      </ng-container>
    </div>

    <div class="action-footer-row">
      <div class="narration-group">
        <label>Narration :</label>
        <input [(ngModel)]="narration" class="narration-input" />
      </div>

      <div class="approval-info">
        <div class="input-group">
          <label>Order Created By:</label>
          <input [(ngModel)]="placedBy" class="approval-input" />
        </div>
        <div class="input-group">
          <label>Order Approved By:</label>
          <input [(ngModel)]="approvedBy" class="approval-input" />
        </div>
      </div>

      <button class="btn-update" (click)="createSalesOrder()">CREATE</button>
    </div>
  </div>
</div>
